.craftable-item-card {
  width: 400px;
  padding: 5px;
  margin: 10px;

  .card-recipe {
    border: 1px solid black;
  }

  // .craftable-item-card-title {
  //   margin: 0;
  //   font-size: 1.5rem;
  //   color: rgb(148, 191, 255);
  // }

  // .craftable-item-card-content {
  //   font-size: 1rem;
  // }
}
